<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/KaoKoh.css">
    <title></title>
</head>
<body>
    <!-- === Header === -->
    <div class="Header-Container">
        <div id="HeaderLabel">เขาค้อ</div>
        <div style="display: flex; flex-direction: row;">
            <div onclick="changePage('main')" id="HomeBtn"></div>
            <div onclick="CloseBtn()" id="CloseBtn"></div>
        </div>
    </div>

    <!-- === Content === -->
    <div class="container">
        <div>
            <p>
                เขาค้อมีจุดชมวิวหลายที่ ขอยกตัวอย่างเป็น เขาตะเคียนโง๊ะ ซึ่งเป็นจุดชมวิวที่สามารถมองเห็นทิวทัศน์ของเขาค้อได้อย่างกว้างขวาง
            </p>
        </div>
        <div>
            <div class="image-container">
                <img class="kaokoh-container" src="../assets/media/KaoKoh/2.jpg">
                <img class="kaokoh-container" src="../assets/media/KaoKoh/3.jpg">
            </div>
            <div class="image-container">
                <div style="
                    display: flex; 
                    flex-direction: column; 
                    justify-content: left;
                    align-items: flex-start;
                ">
                    <p>⛰️ เดือนที่ดีที่สุด:</p> 
                    <p>ตุลาคม –> กุมภาพันธ์ (ปลายฝนถึงต้นหนาว)</p>
                    <p>เพราะอากาศเย็น หมอกหนา และทัศนียภาพเขียวขจี</p>
                    <p>เดือน พฤศจิกายน –> ธันวาคม คือช่วง พีคสุดของทะเลหมอก</p>
                    <p>เดือน มกราคม –> กุมภาพันธ์ อากาศจะเริ่มแห้งเย็น เหมาะกับการชมดาวตอนกลางคืน</p>
                </div>
            </div>
        </div>
    </div>

    <!-- === Bottom Navigation Bar === -->
    <div class="Bottom-Nav">
        <button class="nav-btn" disabled onclick="changePage('main')">&laquo;</button>
        <button class="nav-btn home" onclick="changePage('main')">Home</button>
        <button class="nav-btn" onclick="changePage('NamnaoNationalPark')">&raquo;</button>
    </div>

    <script>
        function CloseBtn() {
            window.electronAPI.closeApp();
        }

        function changePage(page) {
            window.location.href = `${page}.html`;
        }

        window.electronAPI.onPlaySound(() => {
            const audio = new Audio("../assets/media/KaoKoh/KaoKoh.wav");  // Put your file in the same folder or adjust path
            audio.play();
        });
    </script>
</body>
</html>
