<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/KaoKoh.css">
    <title></title>
</head>
<body>
    <div class="Header-Container">
        <div id="HeaderLabel">เขาค้อ</div>
        <div style="display: flex; flex-direction: row;">
            <div onclick="changePage('main')" id="HomeBtn"></div>
            <div onclick="CloseBtn()" id="CloseBtn"></div>
        </div>
    </div>
    <div class="container">
        <div>
            <p>
                เขาค้อมีจุดชมวิวหลายที่ ขอยกตัวอย่างเป็น เขาตะเคียนโง๊ะ ซึ่งเป็นจุดชมวิวที่สามารถมองเห็นทิวทัศน์ของเขาค้อได้อย่างกว้างขวาง
            </p>
        </div>
        <div class="image-container" style="display: flex; flex-direction: row; gap: 1vw; justify-content: center; align-items: center;">
            <img class="kaokoh-container" src="../assets/media/KaoKoh/2.jpg">
            <img class="kaokoh-container" src="../assets/media/KaoKoh/3.jpg">
        </div>
    </div>
</body>
</html>
<script>
    function CloseBtn() {
    window.electronAPI.closeApp();
    }

    function changePage(page) {
        window.location.href = `${page}.html`;
    }
    
</script>
